.container {
  width: 100%;
  background: var(--gray-600);
  border-radius: 20px;
  display: flex;
  padding: 1.875rem;
  box-shadow: 2.5px 2.5px 3px #000;

  align-items: center;
  justify-content: space-between;

  margin: 0 0 2rem 1.75rem;
}

.container strong {
  font-size: 1.25rem;
}
.container a {
  text-decoration: none;
  color: var(--gray-400);
  font-size: 0.875rem;
}

.containerProjects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}